/* Header  */
.header {
  background-color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
}

/* Body  */
.body .sider {
  width: 150px;
  background-color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  z-index: 999;
  top: 56px;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.body .sider .inner-menu ul > li > a {
  color: #000;
}
.body {
  background-color: #f2edf3;
}
.body .main {
  margin-left: 15px;
  padding: 30px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}

/* Sider  */
.sider .inner-menu ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.sider .inner-menu ul li:hover {
  transition: all 0.2s ease-in-out 0s;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
}
.sider .inner-menu ul li:hover i {
  color: blue;
}
.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  text-decoration: none;
}

/* Block main  */
.shadow-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Show Alert  */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background-color: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

/* Image Preview  */
.image-preview {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}

/* Tooltip  */
.tooltip-inner {
  background-color: #ff5733;
  color: white;
}
.tooltip-arrow {
  border-top-color: #ff5733;
}
